<div class='search-container mt-4'>
  <%= form_tag '/files_explorer', method: 'get', class: 'form-inline' do %>
    <%= hidden_field_tag 'matched_words', @matched_words, id: 'matched_words' %>

    <%= label_tag :q, 'Repository Name', class: 'sr-only' %>
    <div class='input-group mb-2 mr-sm-2'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>Repository Name</span>
      </div>
      <%= text_field_tag :repository_name, params['repository_name'], class: 'form-control', placeholder: 'Repository Name' %>
    </div>

    <%= label_tag :search_term, 'search_term', class: 'sr-only' %>
    <div class='input-group mb-2 mr-sm-2'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>Search Term</span>
      </div>
      <%= text_field_tag :search_term, params['search_term'], class: 'form-control', placeholder: 'Search Term' %>
    </div>

    <div class='input-group'>
      <div class='input-group mb-2 mr-sm-2'>
        <%= submit_tag 'Search', class: 'btn btn-outline-primary', data: {'disable-with': 'Search'} %>
      </div>
    </div>
  <% end %>
</div>

<div class='results-container mt-4'>
  <% @results.each do |result| %>
    <div class='card'>
      <h6 class='card-header'><a target='_blank' href='<%= result[:html_url] %>'><%= result[:file_name] %></a></h6>
      <div class='card-body'>
        <p class='card-text'>
          <%= result[:fragment] %>
        </p>
      </div>
    </div>
  <% end %>
  <div class='mt-4'>
    <%= will_paginate @results, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
</div>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js', charset: 'UTF-8' %>
